/**
 * Styledown
 *
 * This is the basic styles to make a Styledown document look like a proper
 * style guide. Recommendation: use and remove any pieces as you see fit.
 */

/**
 * Basic normalize
 */

h2.sg,
h3.sg,
ul.sg,
p.sg {
  margin: 20px 0;
  line-height: 1.55;
}
h2.sg {
  font-size: 2.2em;
  font-weight: 100;
  margin-top: 3em;
}
h3.sg {
  font-size: 1.1em;
  font-weight: bold;
}
h3.sg + .sg {
  margin-top: -20px;
}

/* Colors */
p.sg,
ul.sg {
  color: #555;
}
h2.sg {
  color: #111;
}
h3.sg {
  color: #333;
}

code.sg {
  background: rgba(0, 100, 250, 0.1);
  color: #357;

  padding: 2px 5px;
  margin: 0 1px;
  border-radius: 2px;
  font-size: 0.8em;
  font-weight: 600;
  font-family: menlo, monospace;
}

.sg-block,
.sg-code,
.sg-canvas,
.sg-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * An <h3> block.
 *
 * It looks like:
 *
 *     .sg-block
 *       .sg-text       - text items
 *         h3
 *         p
 *         ...
 *       .sg-example
 *         .sg-canvas   - canvas where its displayed
 *         .sg-code     - code snippet
 */

.sg-block {
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  margin: 20px 0;
}

.sg-block:last-of-type {
  padding-bottom: 20px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.sg-block:after {
  content: '';
  display: table;
  clear: both;
}

/**
 * Text element
 */

@media (min-width: 768px) {
  .sg-text {
    float: left;
    width: 26%;
  }

  .sg-text + .sg-example,
  .sg-text + .sg-code {
    float: right;
    width: 70%;
  }
}

.sg-text > :first-child {
  margin-top: 0;
}


/**
 * An example's canvas.
 */

.sg-canvas {
  margin-bottom: 20px;
}

.sg-padded .sg-canvas {
  padding: 20px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  overflow-x: auto;
}

/**
 * The <pre> code that shows the sample.
 */

.sg-code {
  border: solid 1px transparent;
  overflow-x: auto;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  margin: 0;
  padding: 20px;

  font-family: menlo, monospace;
  line-height: 1.5;
  background: #f6f8fa;
  color: #24292e;
}

/*
 * Syntax highlighting
 */

.sg .hljs-tag,
.sg .hljs-comment {
  color: #6a737d;
}

.sg .hljs-keyword,
.sg .hljs-name {
  color: #0b7b26;
}

.sg .hljs-attr {
  color: #6f42c1;
}

.sg .hljs-string,
.sg .hljs-number,
.sg .hljs-string {
  color: #054a9a;
}

/*
 * Code expansion
 *
 *     .sg-example
 *       .sg-canvas
 *       pre.sg-code
 *       button.sg-expando
 */

.sg-code.sg-hidden {
  display: none;
}

.sg-expando {
  display: inline-block;

  width: 36px;
  height: 20px;

  margin: 0;
  padding: 0;

  outline-width: 0;
  border: 0;
  border-radius: 3px;
  background: #ddd;
}

.sg-expando:before {
  content: '•••';
  display: inline-block;
  position: relative;

  height: 20px;
  width: 36px;
  line-height: 20px;
  text-align: center;
  font-weight: 600;

  font-size: 10px;
  color: #222;
}

.sg-expando:hover,
.sg-expando:focus {
  box-shadow: 0 0 0 1px #fff, 0 0 0 4px #269be8;
}

.sg-expando-contract:before {
  content: '\2715';
  top: -1px;
}
.sg-expando-contract {
  margin-top: 20px;
}
/*
 * hover behavior
 */

