name: 'CI'
on:
  push:
    branches:
      - master
  pull_request: {}

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }} and setup registry
        uses: actions/setup-node@v1
        with:
          node-version:  ${{ matrix.node-version }}
          # registry-url: https://npm.pkg.github.com/
      - name: Install dependencies
        run: npm ci
        # env:
        #   NODE_AUTH_TOKEN: ${{ secrets.GPR_TOKEN }}
      - name: Run tests
        run: npm test
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 10 and setup registry
        uses: actions/setup-node@v1
        with:
          node-version:  10.x
          # registry-url: https://npm.pkg.github.com/
      - name: Install dependencies
        run: npm ci
        # env:
        #   NODE_AUTH_TOKEN: ${{ secrets.GPR_TOKEN }}
      - name: Lint
        run: npm run lint:js
